@import "hero-gradient-large";
@import "hero-gradient-small";
@import "post-card-hero";

.hero-gradient {
  background-attachment: fixed;
  background-position: top center;
  position: relative;
  text-align: center;
  color: $white;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
  }

  h1 {
    font-weight: 300;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

.hero-gradient-content {
    position: relative;
    z-index: 10;
}