.hg-large {
  height: 300px;

  &:before {
    height: 100px;
    background-image: linear-gradient(to top, transparent, $black);
  }

  &:after {
    height: 300px;
    background-image: linear-gradient(to bottom, transparent, $black);
  }

  .hero-gradient-content {
    padding: 4rem 0 0;
  }

  .image-box {
    text-align: center;
    margin: 1rem 0 0;

    a.me {
      img {
        max-width: 80px;
        border: 3px solid $white;
        box-shadow: 5px 5px 10px 0px rgba($black,0.3);
        margin: 0.3rem 0 0.5rem;
      }

      &:hover {
        img {
          transition: all 0.25s ease-out;
          border: 1px solid $primary-color;
        }
      }
    }

    a.name {
      font-size: 14px;
      margin: 0 0 2rem 0;

      &:hover {
        transition: all 0.25s ease-out;
        color: $primary-color;
      }
    }
  }

  @include breakpoint(medium up) {
    height: 450px;

    &:before {
      height: 225px;
    }

    &:after {
      height: 450px;
    }

    .hero-gradient-content {
      padding: 8rem 0 0;
    }
  }

  @include breakpoint(large up) {
    height: 600px;

    &:before {
      height: 300px;
    }

    &:after {
      height: 600px;
    }

    .hero-gradient-content {
      padding: 12rem 0 0;
    }
  }
}
