@import "home-greatest-posts";
@import "home-sign-up";

.home-latest-posts {
    padding: 3rem 0;
}

.home-post-card-date {
    color: $dark-gray;
    margin: 0 0 .5rem;
}

.home-hero-content {
    max-width: 800px;
    margin: 0 auto;
    display: table;

    .menu {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    svg {
        path {
            fill: $white;
        }
    }

    ul.menu.simple li {
        margin-right: 0;

        @include breakpoint(medium up) {
            margin-right: 1rem;
        }
    }

    .me {
        display: block;
        vertical-align: top;
        min-width: 120px;
        display: block;

        @include breakpoint(medium up) {
            display: table-cell;
        }
    }

    .bio {
        font-size: 20px;
        display: block;
        vertical-align: middle;
        padding: 0;
        width: 100%;
        text-align: center;

        @include breakpoint(medium up) {
            text-align: left;
            padding: 0 0 0 24px;
            display: table-cell;
        }
    }

    @include breakpoint(medium up) {
        .menu {
            -webkit-box-pack: initial;
            -webkit-justify-content: initial;
            -ms-flex-pack: initial;
            justify-content: initial;
        }
    }
}

.hg-large.home-hero {
    height: 300px;

    .hero-gradient-content {
        padding: 6rem 0 0;
    }

    img {
        max-width: 120px;
        border: 3px solid $white;
        box-shadow: 5px 5px 10px 0px rgba($black,0.3);
        margin: 0.3rem 0 0.5rem;
    }


    @include breakpoint(small only) {
        height: 500px;
    }
}
