.archive-post {
    border-bottom: 1px solid $light-gray;
    margin: 0 0 3rem;

    @include breakpoint(medium up) {
        .archive-post-date {
            width: 100%;
            text-align: center;
            font-weight: 100;
        }

        .archive-post-date-top {
            padding: 3px 0;
            font-size: 1.5rem;
            background: $light-gray;
        }

        .archive-post-date-bottom {
            font-size: 12px;
            padding: 3px 0;
            text-transform: uppercase;
            color: $white;
            background: map-get($foundation-palette, pioneer);
        }
    }
}

.archive-post-header {
    position: relative;
    display: block;
    margin: 0 0 2rem;

    .overlay {
        background: rgba(59,128,94,0.25);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        transition: all 0.35s;
    }

    &:hover {
        .overlay {
            opacity: 1;
        }
    }
}

.archive-post-content {
    margin: 0 0 3rem 1rem;

    h2 {
        font-size: 2rem;
        font-weight: 100;
        margin: -0.5rem 0 0 0;
    }
}

ul.archive-post-meta {
    margin: 0.5rem 0 1.5rem;
    font-size: 14px;

    > li {
        i, > a {
            display: inline;
        }
    }
}