<div class="row">
  <div class="large-3 columns">
    <ul class="admin-collection-list">
      <li *ngFor="let category of categoryService.getAll()"
          (click)="categoryService.setCurrent(category.categoryId)">
        <span>{{ category.name | truncate : 20 }}</span>
      </li>
    </ul>
  </div>
  <div class="large-9 columns">
    <label>
      Name
      <input type="text"
             [(ngModel)]="categoryService.getCurrent().name">
    </label>
    <label>
      Url
      <input type="text"
             [(ngModel)]="categoryService.getCurrent().url">
    </label>
  </div>
</div>