<div class="row">
  <div class="large-3 columns">
    <div class="admin-canvas-content">
      <pc-loader [loading]="loading">></pc-loader>
      <div class="clearfix">
        <button class="button tiny secondary float-right"
                (click)="categoryService.create()">
          Add
        </button>
      </div>
      <ul class="admin-collection-list">
        <li *ngFor="let category of categoryService.getAll()"
            [class.selected]="category.categoryId === categoryService.getCurrent().categoryId"
            (click)="categoryService.setCurrent(category.categoryId)">
          <span>{{ category.name }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="admin-canvas-content">
      <pc-loader [loading]="loading">></pc-loader>
      <label>
        Name
        <input type="text"
               [(ngModel)]="categoryService.getCurrent().name">
      </label>
      <label>
        Url
        <input type="text"
               [(ngModel)]="categoryService.getCurrent().url">
      </label>
      <div class="clearfix">
        <button class="button secondary float-right save"
                (click)="save(categoryService.getCurrent().categoryId)">
          Save
        </button>
      </div>
    </div>
  </div>
</div>