<div class="row">
  <div class="large-3 columns">
    <ul class="admin-collection-list">
      <li *ngFor="let category of categoryService.getAll()"
          [class.selected]="category.categoryId === categoryService.getCurrent().categoryId"
          (click)="categoryService.setCurrent(category.categoryId)">
        <span>{{ category.name }}</span>
      </li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="admin-canvas-content">
      <div class="clearfix">
        <div class="button-group float-right admin-button-group">
          <button class="button"
                  (click)="save(categoryService.getCurrent().categoryId)">
            Save
          </button>
          <button class="button admin-add-button"
                  (click)="categoryService.create()">
            Add
          </button>
        </div>
      </div>
      <label>
        Name
        <input type="text"
               [(ngModel)]="categoryService.getCurrent().name">
      </label>
      <label>
        Url
        <input type="text"
               [(ngModel)]="categoryService.getCurrent().url">
      </label>
    </div>
  </div>
</div>