@import "../../../sass/foundation";

.footer-section-title {
    border-bottom: 1px solid $black;
    margin: 0 0 1rem;

    .content {
        margin: 0;
        padding: 0 0.5rem;
        background: $black;

        p {
            font-size: 14px;
            margin: 0;
            padding: 5px 0;
            color: $white;
            text-align: center;
        }
    }
}
