/// <reference path="../../../../bower_components/foundation-sites/scss/foundation" />

.popular-posts {
  border-bottom: 1px solid $black;

  p {
    line-height: 1.25rem;
    margin: 0;
  }

  a {
    display: block;
  }

  .category {
    margin: 5px 0 0;

    a {
      font-weight: normal;
    }
  }

  .content {
    margin: 0 0 1rem 0;
  }
}
