@import "../settings/_settings";
@import "../settings/_foundation";
@include foundation-everything;

.post-author {
    .menu.simple li {
        margin-right: 5px;
    }

    .image-box {
        text-align: center;

        img {
            max-width: 100px;
        }
    }

    p {
        margin: 0;
    }

    .details-box {

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin: 0 1rem 0.5rem 0;
        }

        i {
            font-size: 18px;
        }

        a {
            color: $black;

            &:hover {
                color: map-get($foundation-palette, pioneer);
                transition: color 0.5s ease;
            }
        }
    }
}