@import "../settings/_settings";
@import "../settings/_foundation";
@include foundation-everything;

.popular-posts {
    border-bottom: 1px solid $black;

    p {
        line-height: 1.25rem;
        margin: 0;
    }

    a {
        display: block;
    }

    .category {
        margin: 5px 0 0;
    }

    .content {
        margin: 0 0 1rem 0;
    }
}
