@import "../sass/_settings.scss";

body {
    background: $black;
}

.nav-admin {
    background: $black;
}

.body-content-admin {
    background: #fff;
    padding: 55px 0 2rem;
}

.fieldset {
    textarea {
        margin: 0;
    }

    [type='checkbox'] + label {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 1rem;
        margin-bottom: 0;
        vertical-align: baseline;
    }

    [type='checkbox'] + label[for] {
        cursor: pointer;
    }
}
