/// <reference path="../../bower_components/foundation-sites/scss/foundation" />
@import "../sass/_settings";
@import "styles/loader.component";
@import "styles/pager.component";

body {
  background: $black;
}

.body-content-admin {
  background: $light-gray;
  padding: 3rem 0 2rem;
  position: relative;

  header {
    position: fixed;
    top: 0;
    height: 3rem;
    z-index: 999;
    background: lighten($black, 15%);
    width: 100%;

    .home {
      height: 3rem;
      width: 250px;
      background: lighten($black, 10%);
      text-align: center;

      a {
        padding: 8px 0 0;
        font-size: 18px;
        display: block;
        height: 3rem;
        width: 100%;
        color: $white;

        &:hover {
          text-decoration: none;
        }
      }
    }

    form {
      button {
        height: 3rem;
      }
    }
  }

  .nav-admin {
    position: fixed;
    width: 250px;
    height: 100%;
    background: lighten($black, 5%);

    li.selected {
      background: $primary-color;

      &:hover {
        background: $primary-color;
      }
    }

    li {
      &:hover {
        background: $black;
      }
    }

    a {
      i {
        margin-top: -6px;
      }

      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .admin-canvas {
    position: relative;
    margin: 1rem 0 0 250px;
    min-height: 700px;
  }
}

#published {
  display: inline-block;
  margin: 30px 1rem 0 0.5rem;
  vertical-align: baseline;
}

[type='checkbox'] + label[for] {
  cursor: pointer;
}

.admin-checkbox-vertial-align {
  margin: 1.75rem 0 0;
}

.admin-button-group {
  margin: 0;
}

.admin-collection-list {
  list-style-type: none;
  margin: 0;
  font-size: 14px;

  li {
    cursor: pointer;
    padding: 0.25rem 0.5rem;

    &:hover {
      color: $white;
      background: lighten($primary-color, 15%);
    }
  }

  li.selected {
    color: $white;
    background: $primary-color;
  }
}

.record-id {
  color: $medium-gray;
  font-size: 14px;
}

.admin-canvas-content {
  padding: 1rem 0 0 0;
  background: $white;

  button.save {
    margin: 0;
  }
}

.admin-post-description {
  min-height: 199px;
}

.admin-post-collection-item {
  float: left;
}

.empty-state {
  margin: 8rem;
  text-align: center;

  i {
    font-size: 6rem;
    margin: 0 0 2rem;
  }
}
