@import "../sass/_settings.scss";

body {
    background: $black;
}

.nav-admin {
    background: $black;
}

.body-content-admin {
    background: #fff;
    padding: 55px 0 2rem;
}

.fieldset {
    textarea {
        margin: 0;
    }
}
