@model List<Post>
<div class="hero-gradient hg-small" style="background-image: url(/images/hero-archive-post.jpg)">
  <div class="row hero-gradient-content">
    <div class="large-12 column">
      <h1>@ViewBag.Header</h1>
      <div class="bar"></div>
    </div>
  </div>
</div>