@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headEnd
{
  <link href="~/app.css" rel="stylesheet" asp-append-version="true" />
  <link href="~/admin/app.css" rel="stylesheet" asp-append-version="true">
  <script src="~/admin/libs/libs.js" asp-append-version="true"></script>
  <script src="~/admin/libs/core-js/shim.min.js" asp-append-version="true"></script>
  <script src="~/admin/libs/zone.js/zone.js" asp-append-version="true"></script>
  <script src="~/admin/libs/reflect-metadata/Reflect.js" asp-append-version="true"></script>
  <script src="~/admin/libs/systemjs/system.src.js" asp-append-version="true"></script>
  <script src="~/admin/systemjs.config.js" asp-append-version="true"></script>
  <script>
    System.import('@ViewBag.SystemJsImportPath').catch(function (err) { console.error(err); });
  </script>
}

@section nav
{
  <nav class="nav-main nav-admin">
    <div class="title-bar clearfix hide" data-responsive-toggle="pioneer-admin-menu" data-hide-for="medium">
      <div class="title-bar-title float-left">
        <a href="/" class="title">Pioneer <span>Code</span></a>
      </div>
      <button class="fa fa-bars fa-lg float-right" type="button" data-toggle></button>
    </div>
    <div class="top-bar" id="pioneer-admin-menu">
      <div class="row">
        <div class="large-12 columns">
          <div class="top-bar-left hide-for-small-only">
            <ul class="menu">
              <li class="menu-text">
                <a href="/" class="title">Pioneer <span>Code</span></a>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li>
                <a href="/admin/posts">
                  POSTS
                </a>
              </li>
              <li>
                <a href="/admin/categories">
                  CATEGORIES
                </a>
              </li>
              <li>
                <a href="/admin/tags">
                  TAGS
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
}

<section class="body-content-admin">
  @RenderBody()
</section>

@section bodyEnd {
  <script>
    $(() => {
      $(document).foundation();
      $('.title-bar').removeClass('hide');
    });

    var header = $('.nav-main');

    $(window).on('scroll', () => {
      var top = header.offset().top;
      if (top >= 100) {
        header.addClass('nav-main-show');
      } else {
        header.removeClass('nav-main-show');
      }
    });

    $(window).trigger('scroll');
  </script>
}