@model Post
<div class="row">
  <div class="large-12 columns">
    <div class="comments">
      <div class="title-box">
        <h3>Comments</h3>
      </div>
      <div id="disqus_thread"></div>
      <script>
                var disqus_config = function() {
                  this.page.identifier = '@Model.PostId';
                  this.page.url = '@AppConfiguration.Value.SiteUrl' +
                    '/post/' +
                    '@Model.Url';
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = '//' +
                    '@AppConfiguration.Value.DisqusShortname' +
                    '.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
</div>