<section class="post-author">
  <div class="row">
    <div class="large-2 columns">
      <div class="image-box">
        <img src="/images/me300.jpg" alt="Chad Ramos" class="circle" />
      </div>
    </div>
    <div class="large-10 columns">
      <div class="details-box clearfix">
        <h2 class="float-left">Chad Ramos</h2>
        <ul class="float-left simple menu">
          <li>
            <a href="mailto:chad@pioneercode.com" title="Email Me">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/PioneerCode" title="Pioneer Code" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="icon">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ChadMRamos" title="Chad Ramos Facebook" target="_blank" class="icon">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
      <p>
        Chad Ramos is a <a href="https://www.google.com/maps/place/Chicago,+IL" target="_blank" title="Chicago">Chicago-based</a> software developer and founder of <a href="http://pioneercode.com" title="Pioneer Code" target="_blankd">PioneerCode.com</a>.
      </p>
    </div>
  </div>
</section>