<div class="row">
  <div class="large-3 columns">
    <ul class="admin-collection-list">
      <li *ngFor="let tag of getAll()"
          (click)="tagService.setCurrent(tag.tagId)">
        <span>{{ tag.name | truncate : 20 }}</span>
      </li>
    </ul>
  </div>
  <div class="large-9 columns">
    <label>
      Name
      <input type="text"
             [(ngModel)]="tagService.getCurrent().name">
    </label>
    <label>
      Url
      <input type="text"
             [(ngModel)]="tagService.getCurrent().url">
    </label>
  </div>
</div>