<div class="row expanded">
  <div class="large-3 columns">
    <div class="admin-canvas-content">
      <pc-loader [loading]="loading"></pc-loader>
      <div class="row">
        <div class="large-12 columns">
          <div class="clearfix">
            <button class="button tiny secondary float-right"
                    (click)="tagService.create()">
              Add
            </button>
          </div>
          <ul class="admin-collection-list">
            <li *ngFor="let tag of tagService.getAll()"
                [class.selected]="tag.tagId === tagService.getCurrent().tagId"
                (click)="tagService.setCurrent(tag.tagId)">
              <span>{{ tag.name }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="admin-canvas-content" *ngIf="tagService.getCurrent()">
      <pc-loader [loading]="loading"></pc-loader>
      <div class="row">
        <div class="large-12 columns">
          <div class="clearfix">
            <span class="record-id">Id: {{tagService.getCurrent().tagId}}</span>
            <button class="button secondary float-right save tiny"
                    (click)="save(tagService.getCurrent().tagId)">
              Save
            </button>
          </div>
          <label>
            Name
            <input type="text"
                   [(ngModel)]="tagService.getCurrent().name">
          </label>
          <label>
            Url
            <input type="text"
                   [(ngModel)]="tagService.getCurrent().url">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
