@using Microsoft.AspNetCore.Identity
@using Pioneer.Blog.Entites
@model Pioneer.Blog.Models.Views.LoginViewModel
@inject SignInManager<UserEntity> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
  <div class="large-8 large-push-2 columns">
    <h2>@ViewData["Title"].</h2>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
      <h4>Use a local account to log in.</h4>
      <hr />
      <div asp-validation-summary="All" class="text-danger"></div>
      <label asp-for="Email">
        Email
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </label>
      <label asp-for="Password">
        Password
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
      </label>
      <button type="submit" class="button">Log in</button>
    </form>
  </div>
</div>
