@import "_sidebar-title";
@import "_sidebar-popular-posts";
@import "_sidebar-new-posts";
@import "_archive-post";
@import "_sidebar-follow-us";

.archive {
    margin: 4rem 0;

    .post-card-hero {
        margin: 0 0 2rem;
    }
}

section.sidebar {
    margin: 0 0 1.5rem;
}

.sidebar-button-collection {
    a {
        margin: 0 0 0.5rem;
    }
}
