@import "../../../sass/foundation";

.sidebar-new-posts {
    list-style: none;
    margin: 0 0 2rem;

    li {
        border-bottom: 1px $light-gray solid;
        font-size: 14px;
        padding: 0 0 0.5rem;
        margin: 0 0 0.5rem;
    }

    a {
        color: $dark-gray;

        &:hover {
            transition: ease-in 0.25s all;
            text-decoration: none;
        }
    }
}
