/// <reference path="../../../../bower_components/foundation-sites/scss/foundation" />

.sidebar-title {
    display: block;
    font-weight: 100;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 0 0.5rem;

    &:after {
        display: block;
        content: "";
        width: 100px;
        height: 5px;
        background-color: $light-gray;
        margin: 0.5rem 0;
    }
}
