<h2>Editor</h2>
<h4>Navigation</h4>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>
<h4>Manipulation</h4>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>
<h4>Selection</h4>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/editor/selection/char-left-extend.gif" />
      <div class="title">Char Left/Right Extend</div>
      <div class="action">Ctrl+Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/editor/selection/documen-start-end-extend.gif" />
      <div class="title">Document Start/End Extend</div>
      <div class="action">Ctrl+Shift+Home(End) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>