<h2>Editor</h2>
<h4>Navigation</h4>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt=""/>
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>
<h4>Manipulation</h4>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>
<h4>Selection</h4>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt=""/>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <img src="~/images/articles/visual-studio-shortcuts/navigation/selection/shift-left.gif" alt="" />
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>