<h2>Search & Navigation</h2>
<div class="row width-100">
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <div class="title">Char Left & Right Extend</div>
      <div class="action">Shift+Left(Right) arrow</div>
    </div>
  </div>
</div>