<h2>Search & Navigation</h2>
<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <h4>Char Left & Right Extend</h4>
      <span>Shift+Left(Right) arrow</span>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <h4>Char Left & Right Extend</h4>
      <span>Shift+Left(Right) arrow</span>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <h4>Char Left & Right Extend</h4>
      <span>Shift+Left(Right) arrow</span>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="card">
      <h4>Char Left & Right Extend</h4>
      <span>Shift+Left(Right) arrow</span>
    </div>
  </div>
</div>