@{
    Layout = "~/Views/Article/_Template.cshtml";
}
<div class="hero-gradient hg-small home-hero"
     data-parallax="scroll"
     data-image-src="/images/articles/visual-studio-shortcuts/visual-studio-shortcuts.jpg">
  <div class="row hero-gradient-content">
    <div class="large-12 column">
      <h1>@ViewBag.Title</h1>
      <div class="bar"></div>
    </div>
  </div>
</div>

<div class="row collapse width-100">
  <div class="medium-2 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Search And Navigation</a></li>
      <li class="tabs-title"><a href="#panel2">Refactoring</a></li>
      <li class="tabs-title"><a href="#panel3">Debugging</a></li>
    </ul>
  </div>
  <div class="medium-10 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active" id="panel1">
        @Html.Partial("VisualStudioShortcuts/_SearchAndNavigation")
      </div>
      <div class="tabs-panel" id="panel2">
        @Html.Partial("VisualStudioShortcuts/_Refactoring")
      </div>
      <div class="tabs-panel" id="panel3">
        @Html.Partial("VisualStudioShortcuts/_Debugging")
      </div>
    </div>
  </div>
</div>