<section class="search-bar">
  <div class="row">
    <div class="large-8 large-push-2">
      <form asp-controller="search" method="post">
        <div class="input-group">
          <input type="text" name="Query" class="input-group-field" />
          <div class="input-group-button">
            <button type="submit" class="button">
              <i class="fa fa-search"></i>&nbsp;SEARCH
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>