@using System.Collections.Generic
@model List<Category>
<section class="">
  @foreach (var category in Model)
  {
      <a class="btn btn-primary btn-sm mb-1" href="/category/@category.Url">@category.Name</a>
  }
</section>