@using System.Collections.Generic
@model List<Tag>
<section class="mb-4">
  @foreach (var tag in Model)
  {
      <a class="btn btn-primary btn-sm mb-1" href="/tag/@tag.Url">@tag.Name</a>
  }
</section>