<section class="sidebar">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.npmjs.com/~chad-ramos" title="Chad Ramos npm" target="_blank" class="icon">
                <i class="fab fa-npm fa-2x"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="icon">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </li>
    </ul>
</section>