@using System.Collections.Generic
@model List<Tag>
<section class="sidebar sidebar-button-collection">
  @foreach (var tag in Model)
  {
      <a class="button small" href="/tag/@tag.Url">@tag.Name</a>
  }
</section>