<section class="mb-4">
  <ul class="menu simple">
    <li>
      <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="icon">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="https://trello.com/b/EX3uv8CM/blog-post-ideas" title="Pioneer Code Trello" target="_blank" class="icon">
        <i class="fa fa-trello fa-2x"></i>
      </a>
    </li>
  </ul>
</section>