.bar {
    width: 150px;
    background: map-get($foundation-palette, pioneer);
    height: 3px;
    margin: 0 auto 2rem auto;
}

.contact {
  svg {
    path {
      fill: $white;
    }

    &:hover {
      path {
        transition: fill 0.5s ease;
        fill: $primary-color;
      }
    }
  }

  input[type="submit"] {
    border: none;
    background: none;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2.5px;
    color: #999;

    &:hover {
      color: map-get($foundation-palette, pioneer);
      transition: color 0.5s ease;
    }
  }

  header {
    text-align: center;
    margin: 5rem 0;
  }

  .validation-summary-errors {
    ul {
      margin: 0 0 0 20px;
    }
  }

  .hello-bar {
    padding: 2rem 0;
    text-align: center;
    background: map-get($foundation-palette, pioneer);
    color: $white;

    h4 {
      font-weight: 100;
      margin: 0;
      letter-spacing: 0px;
    }

    input, .button {
      margin: 0;
    }

    .button {
      width: 100%;
    }
  }

  @include breakpoint(large up) {
    .hello-bar {
      padding: 2rem 0;
    }
  }
}

.form-container {
    background: $black;

    .text-content {
        padding: 4rem 0;
        width: 100%;
        background-image: url('../../images/contact-1.jpg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        color: $white;
        text-align: center;
        max-height: 350px;
        font-size: 1.5rem;

        h2 {
            font-size: 2rem;
            margin: 0 0 0 -1rem;
        }

        span {
            color: map-get($foundation-palette, pioneer);
        }

        .icon {
            color: $white;

            &:hover {
                transition: color 0.35s ease;
                color: map-get($foundation-palette, pioneer);
            }
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .form-content {
        padding: 3rem 0;

        textarea {
            height: 199px;
        }

        h3 {
            font-size: 2.5rem;
            text-align: center;
        }

        .callout {
            border: none;
        }

        ul {
            text-align: center;
            margin: 0;
            list-style: none;
        }

        background: $light-gray;
        width: 100%;
    }

    @include breakpoint(large up) {
        .text-content {
            font-size: 2rem;
            min-height: 632px;
            padding: 175px 6rem 0;
            text-align: right;
            float: left;
            width: 50%;
        }

        .form-content {
            padding: 3rem;
            float: left;
            width: 50%;
        }
    }
}
