/// <reference path="../../../bower_components/foundation-sites/scss/foundation" />

.card {
    border: 1px solid $medium-gray;
    border-top: 4px $primary-color solid;

    .title {
        background: $light-gray;
        border-top: 1px $medium-gray solid;
        padding: 0.5rem 1rem 0 1rem;
        font-weight: bold;
        font-size: 14px;
        margin: 0;
    }

    .action {
        background: $light-gray;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
