/// <reference path="../../../bower_components/foundation-sites/scss/foundation" />
.nav-main {
    position: fixed;
    width: 100%;
    font-size: 14px;
    border-top: 3px map-get($foundation-palette, pioneer) solid;
    z-index: 20;
    top: 0;
    left: 0;

    [role="menuitem"] {
        a {
            color: $primary-color;

            &:hover {
                color: $primary-color;
                transition: all 0.25s ease-out;
            }
        }
    }

    ul.menu li ul {
        background-color: $white;
    }

    .menu > li > a {
        margin: 0;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }

        span {
            color: $primary-color;
        }
    }

    .menu > li > a.margin-zero {
        margin: 0;
    }

    li.selected {
        a {
            border-bottom: $primary-color 3px solid;
            padding-bottom: 9px;
        }
    }

    .top-bar {
        padding: 0.5rem 0;
    }

    .menu-text {
        padding: 0;
    }

    .title-bar {
        button {
            width: 1rem;
            height: 20px;
            color: $white;
        }
    }

    .title-bar-title {
        a {
            color: $white;

            span {
                color: map-get($foundation-palette, pioneer);
            }
        }
    }

    @include breakpoint(medium up) {
        [role="menuitem"] {
            a {
                color: $white;
            }
        }

        ul.menu li ul {
            background-color: $black;
        }

        .menu > li > a {
            margin: 0 0.5rem 0 0;
        }

        .top-bar, .menu {
            background-color: rgba(0,0,0,0);
        }
    }
}

.nav-main-log-off {
    margin: 0;
}

.nav-main-show {
    background-color: rgba(9,19,14,0.9);

    a {
        color: $black;
    }
}

.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}
