@import "../../sass/foundation";

.nav-main {
    position: fixed;
    width: 100%;
    font-size: 14px;
    border-top: 3px map-get($foundation-palette, pioneer) solid;
    z-index: 20;
    top: 0;
    left: 0;

    .menu > li > a {
        margin: 0;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }

        span {
            color: $primary-color;
        }
    }

    li {
        overflow: hidden;
    }

    li.selected {
        border-bottom: $primary-color 3px solid;

        a {
            padding-bottom: 9px;
        }
    }

    a:not(.title) {
        transform: translateY(0px);
        transition: color 0.35s ease;

        &:before {
            content: '';
            z-index: -1;
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background: map-get($foundation-palette, pioneer);
            transition: .35s ease left;
            border-radius: 2px;
        }

        &:hover {
            &:before {
                left: 0;
            }

            color: $white;
            transition: color 0.35s ease;
        }
    }

    .top-bar {
        padding: 0.5rem 0;
    }

    .menu-text {
        padding: 0;
    }

    .title-bar {
        button {
            width: 1rem;
            height: 20px;
        }
    }

    .title-bar-title {
        a {
            color: $white;

            span {
                color: map-get($foundation-palette, pioneer);
            }
        }
    }
}

.nav-main-show {
    background-color: rgba(9,19,14,0.9);

    a {
        color: $black;
    }
}

@media #{screen and $medium-up} {
    .nav-main {
        .top-bar, .menu {
            background-color: rgba(0,0,0,0);
        }

        a {
            color: $white;
        }
    }
}
