/// <reference path="../../../bower_components/foundation-sites/scss/foundation" />
ul.pagination {
    margin: 0 0 1rem;
    text-align: center;

    .current {
        padding: 0.1875rem 0.625rem;
        background: $primary-color;
        color: #fefefe;
        cursor: default;
    }

    .pagination-next a::after {
        content: '\00bb';
        display: inline-block;
        margin-left: 0.5rem;
    }

    .pagination-previous a::before {
        content: '\00ab';
        display: inline-block;
        margin-right: 0.5rem;
    }

    li {
        display: inline-block;

        .show-for-sr {
            display: none;
        }

        a {
            color: #0a0a0a;
            display: block;
            padding: 0.1875rem 0.625rem;
            border-radius: 0;
        }

        a:hover {
            background: #e6e6e6;
        }
    }
}