/* SASS / Social Media Brand Colors */
$twitter-color: #00aced;
$facebook-color: #3b5998;
$googleplus-color: #dd4b39;
$pinterest-color: #cb2027;
$linkedin-color: #007bb6;
$youtube-color: #bb0000;
$vimeo-color: #1ab7ea;
$tumblr-color: #32506d;
$instagram-color: #bc2a8d;
$flickr-color: #ff0084;
$dribbble-color: #ea4c89;
$quora-color: #a82400;
$foursquare-color: #0072b1;
$forrst-color: #5B9A68;
$vk-color: #45668e;
$wordpress-color: #21759b;
$stumbleupon-color: #EB4823;
$yahoo-color: #7B0099;
$blogger-color: #fb8f3d;
$soundcloud-color: #ff3a00;
$reddit-color: #ff5700;

@import "../../sass/settings";

.social-icons {
    text-align: center;
    font-size: 1.5rem;

    a {
        color: $dark-gray;
        
        &:hover {
            transition: 0.25s all ease-in;
        }

        &:hover.twitter {
            color: $twitter-color;
        }

        &:hover.facebook {
            color: $facebook-color;
        }

        &:hover.reddit {
            color: $reddit-color;
        }

        &:hover.google-plus {
            color: $googleplus-color;
        }

        &:hover.linkedin {
            color: $linkedin-color;
        }
    }
}

.social-buttons {
    margin: 3rem 0 1rem;

    a {
        /*@extend .large;*/
    }

    .twitter {
        background: $twitter-color;
    }

    .facebook {
        background: $facebook-color;
    }

    .reddit {
        background: $reddit-color;
    }

    .google-plus {
        background: $googleplus-color;
    }

    .linkedin {
        background: $linkedin-color;
    }
}
