.search {
  margin: 4rem 0;
}

.search-empty-state .copy {
  text-align: center;
  padding: 0;

  i {
    font-size: 5rem;
    color: $medium-gray;
  }

  p {
    color: $medium-gray;
  }

  p.heading {
    padding: 0.5rem 0 0;
    font-size: 1.5rem;
  }

  @include breakpoint(large up) {
    padding: 3rem 0 0;

    i {
      font-size: 10rem;
    }

    p.heading {
      padding: 1rem 0 0;
      font-size: 3rem;
    }
  }
}

.search-meta {
  font-size: 14px;
  color: $dark-gray;
  margin: 0 0 22px;
}
