<section class="admin-posts">
  <div class="row expanded">
    <div class="large-3 columns">
      <div class="admin-canvas-content">
        <pc-loader [loading]="loading"></pc-loader>
        <div class="row">
          <div class="large-12 columns">
            <div class="clearfix">
              <button class="button tiny secondary float-right" (click)="postService.create()">
                Add
              </button>
            </div>
            <ul class="admin-collection-list">
              <li *ngFor="let post of postService.getAll()" [class.selected]="post.postId === postService.getCurrent().postId" (click)="postService.setCurrent(post.url)">
                <span>{{ post.title }}</span>
              </li>
            </ul>
            <pc-pager [show]="postService.getCurrent().postId" (onPageClicked)="onPageClicked($event)" [countPerPage]="postService.countPerPage"
              [currentPageIndex]="postService.currentPageIndex" [totalItemsInCollection]="postService.totalItemsInCollection"
              *ngIf="postService.getCurrent()"></pc-pager>
          </div>
        </div>
      </div>
    </div>
    <div class="large-9 columns">
      <div class="admin-canvas-content" *ngIf="postService.getCurrent()?.postId">
        <pc-loader [loading]="loading"></pc-loader>
        <div class="row">
          <div class="large-12 columns">
            <div class="clearfix">
              <span class="record-id">
                Id: {{postService.getCurrent().postId}}
              </span>
              <button class="button tiny secondary float-right save" (click)="save()">
                Save
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>
              Title
              <input type="text" [(ngModel)]="postService.getCurrent().title">
            </label>
          </div>
          <div class="large-6 columns">
            <label>
              URL
              <input type="text" [(ngModel)]="postService.getCurrent().url">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>
              Description
              <span>({{postService.getDescriptionLength()}})</span>
              <textarea [(ngModel)]="postService.getCurrent().description" class="admin-post-description"></textarea>
            </label>
          </div>
          <div class="large-6 columns">
            <label>
              Large Image
              <input type="text" [(ngModel)]="postService.getCurrent().image">
            </label>
            <label>
              Small Image
              <input type="text" [(ngModel)]="postService.getCurrent().smallImage">
            </label>
            <label>
              Icon Image
              <input type="text" [(ngModel)]="postService.getCurrent().iconImage">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>
              Code Link
              <input type="text" [(ngModel)]="postService.getCurrent().link">
            </label>
          </div>
          <div class="large-6 columns">
            <label>
              Meta
              <input type="text" [(ngModel)]="postService.getCurrent().meta">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-3 columns">
            <label>
              Created On
              <input type="text" [ngModel]="postService.getCurrent().createdOn | date:'MM-dd-yyyy'" disabled>
            </label>
          </div>
          <div class="large-3 columns">
            <label>
              Posted On
              <input type="text" [ngModel]="postService.getCurrent().postedOn | date:'MM-dd-yyyy'" disabled>
            </label>
          </div>
          <div class="large-3 columns">
            <label>
              Modified On
              <input type="text" [ngModel]="postService.getCurrent().modifiedOn | date:'MM-dd-yyyy'" disabled>
            </label>
          </div>
          <div class="large-3 columns">
            <input id="published" type="checkbox" [checked]="postService.getCurrent().published" (change)="postService.getCurrent().published = !postService.getCurrent().published">
            <label for="published">Published</label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>
              Excerpt
              <textarea [(ngModel)]="postService.getCurrent().excerpt.content"></textarea>
            </label>
          </div>
          <div class="large-6 columns">
            <label>
              Article
              <textarea [(ngModel)]="postService.getCurrent().article.content"></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>
              Notes
              <textarea [(ngModel)]="postService.getCurrent().notes"></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <fieldset class="fieldset">
              <legend>Categories</legend>
              <span *ngFor="let category of categoryService.getAll()" class="admin-post-collection-item">
                <input type="checkbox" [checked]="postService.getCurrent().category && postService.getCurrent().category.categoryId === category.categoryId"
                  (click)="onCategoryClick(category)">
                <label>{{ category.name | truncate : 20 }}</label>
              </span>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <fieldset class="fieldset">
              <legend>Tags</legend>
              <span *ngFor="let tag of tagService.getAll()" class="admin-post-collection-item">
                <input type="checkbox" [checked]="postService.isTagSet(tag)" (click)="onTagClick(tag)">
                <label>{{ tag.name | truncate : 20 }}</label>
              </span>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="empty-state" *ngIf="!postService.getCurrent()?.postId">
        <i class="fa fa-file-o"></i>
        <h2>Add A Post To Get Started</h2>
      </div>
    </div>
  </div>
</section>
<pc-modal [width]="'90%'">
  <div class="row expanded">
    <div class="large-6 columns">
      <textarea [(ngModel)]="postService.getCurrent().article.content"></textarea>
    </div>
    <div class="large-6 columns"></div>
  </div>
</pc-modal>
