@{
    Layout = "~/Views/About/_Template.cshtml";
    ViewBag.Title = "About Chad Ramos";
}
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<section class="about">
  <div class="hero-gradient hg-large" style="background-image: url(/images/hero-about.jpg)">
    <div class="row hero-gradient-content">
      <div class="large-12 column">
        <h1>What Is Pioneer Code?</h1>
        <div class="bar"></div>
        <div class="row">
          <div class="large-6 medium-8 large-push-3 medium-push-2 columns end">
            <p>Pioneer Code is a collection of How-to's, life hacks and observation focused around the modern day software developer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="who-is">
    <div class="row">
      <div class="large-8 columns">
        <h1>WHO RUNS PIONEER CODE?</h1>
        <h2 class="sub-heading">Hi, my name is Chad Ramos</h2>
        <p>
          I am a <a href="https://www.google.com/maps/place/Chicago,+IL" target="_blank" title="Chicago">Chicago-based</a> software developer with a strong passion for modern development practices.
        </p>
        <p>
          Professionally I have written a bunch of software as an independent consultant and for a variety of firms. Currently, I work remotely with a talented team at <a href="https://www.xerox.com/en-us/services" title="Xerox Services" target="_blank">Xerox Services</a> and often find myself collaborating with some brilliant minds at <a href="https://www.parc.com/" target="_blank" title="PARC">PARC</a>.
        </p>
        <p>
          I spend most of my time developing with <a href="https://www.microsoft.com/net" title=".NET" target="_blank">.NET</a> and various front-end technologies such as but not limited to <a href="https://angular.io/" title="Angular" target="_blank"> Angular</a> and <a href="https://nodejs.org/en/" title="Node" target="_blank">Node</a>.
        </p>
        <p>
          <b>Keeping my eye on the future while standing on the shoulders of giants is kind of my thing.</b>
        </p>
      </div>
      <div class="large-4 columns">
        <div class="image-container">
          <img src="~/images/logo-large.png" alt="Pioneer Code Logo"/>
        </div>
      </div>
    </div>
  </section>
</section> 