@import "settings/normalize";
@import "settings/_settings";
@import "settings/_foundation";
@include foundation-everything;
@import "../bower_components/foundation-sites/scss/util/breakpoint";
@import "font-awesome/scss/font-awesome";
@import "paged-list";
@import "nav";
@import "home/home";
@import "post/article";
@import "about";
@import "contact";
@import "hero/hero";
@import "footer";
@import "archive-post/archive";
@import "syntax";

img {
    width: 100%;
    height: auto;
}

.circle {
    border-radius: 50%;
}

.width-100 {
    max-width: 100%;
    width: 100%;
}

body {
    transition: all .3s;
}

h2.sub-heading {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -2.5px;
}

h1, h2, h3, h4, h5 {
    letter-spacing: -2px;
}

.callout.filter {
    border-color: $light-gray;
    border-left: 6px solid map-get($foundation-palette, pioneer);
}

input[type="submit"] {
    border: none;
    background: none;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -2.5px;
    color: #999;

    &:hover {
        color: map-get($foundation-palette, pioneer);
        transition: color 0.5s ease;
    }
}

pre {
    background: $black;
    color: $white;
    padding: 5px 10px;
    margin: 0 0 15px 0;
}

.text-danger {
    ul {
        margin: 0;
    }
}

.body-content {
    background: transparent;
}


em.question {
    margin: 0 0 1rem 0;
    font-weight: bold;
}

ul.meta {
    margin-bottom: 2rem;
}

p.note {
    background: $light-gray;
    font-size: 14px;
    border-left: 3px solid $primary-color;
    padding: 1rem;
}

a.button.empty {
    background: none;
    border: 2px solid $white;

    &:hover {
        color: map-get($foundation-palette, pioneer);
        background: $white;
        text-decoration: none;
    }
}

a.button.empty-reverse {
    background: none;
    border: 2px solid $black;
    color: $black;

    &:hover {
        border: 2px solid map-get($foundation-palette, pioneer);
        color: $white;
        background: map-get($foundation-palette, pioneer);
        text-decoration: none;
    }
}

.category {
    margin: 30px 0 0;
}


.login {
    input[type="checkbox"] {
        margin: 6px 5px 0 0;
    }
}

@media #{$medium-up} {

}
