$black: #000;
$white: #fff;
$light-gray: #e6e6e6;
$dark-gray: #24282e;
$medium-gray: #cacaca;
$primary: #3b805e;

.bg-white {
    background-color: $white;
}

.bg-dark {
    background-color: $dark-gray;
}

.text-primary {
    color: $primary;
}

.text-white {
    color: $white;
}