@import "_colors";

// List Inline
.list-inline {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem;
}

.list-inline-item {
    display: inline-block;
}

// List unstyled
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;
}


.circle {
    border-radius: 50%;
}