@import "../../../sass/foundation";
@import "home-greatest-posts";
@import "home-sign-up";

.home-latest-posts {
    padding: 3rem 0;
}

.home-post-card-date {
    color: $dark-gray;
    margin: 0 0 .5rem;
}

@media #{$small-only} {
    .hg-large.home-hero {
        height: 350px;
    }
}
