/// <reference path="../../../../bower_components/foundation-sites/scss/foundation" />
@import "home-greatest-posts";
@import "home-sign-up";

.home-latest-posts {
    padding: 3rem 0;
}

.home-post-card-date {
    color: $dark-gray;
    margin: 0 0 .5rem;
}

.hg-large.home-hero {
    @include breakpoint(small only) {
        height: 350px;
    }
}
