
@import "../../../sass/social-colors";

.home-social-icons {
    text-align: center;
    margin: 0 0 1rem 0;
}

.home-social-buttons {
    margin: 3rem 0 1rem;

    a {
        /*@extend .large;*/
    }

    .twitter {
        background: $twitter-color;
    }

    .facebook {
        background: $facebook-color;
    }

    .reddit {
        background: $reddit-color;
    }

    .google-plus {
        background: $googleplus-color;
    }

    .linkedin {
        background: $linkedin-color;
    }
}
