@using Microsoft.AspNetCore.Mvc.Rendering
@model Pioneer.Blog.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Home/_Template.cshtml";
    ViewBag.Title = "Chad Ramos";
}
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<div class="hero-gradient hg-large home-hero" style="background-image: url(/images/hero-home.jpg)">
    <div class="row hero-gradient-content">
        <div class="large-12 column">
            <section class="home-hero-content">
                <a href="https://twitter.com/chad_ramos" title="Chad Ramos Twitter" target="_blank" class="me">
                    <img src="/images/me300.jpg" alt="Chad Ramos" class="circle" />
                </a>
                <div class="bio">
                    <p>Hi, my name is Chad Ramos. I am a Chicago-based software developer with a strong passion for modern development practices.</p>
                    <ul class="menu">
                        <li>
                            <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/~chad-ramos" title="Chad Ramos npm" target="_blank" class="icon">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="45" height="45" viewBox="0 6 32 32">
                                    <path d="M0.32 15.406v5.248h8.736v1.76h6.976v-1.76h15.649v-10.495h-31.36v5.248zM9.055 15.406v3.488h-1.76v-5.216h-1.697v5.216h-3.582v-6.976h7.039v3.488zM17.779 15.412l-0.019 3.488-3.425-0.012v1.766h-3.582v-8.736h7.039l-0.012 3.494zM29.983 15.406v3.488h-1.76v-5.216h-1.76v5.248l-1.76-0.038v-5.21h-1.697v5.216h-3.519v-6.976h10.495v3.488zM14.335 15.406v1.728h1.634v-3.457h-1.634v1.728z"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/chad_ramos" title="Chad Ramos Twitter" target="_blank" class="icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://trello.com/b/EX3uv8CM/blog-post-ideas" title="Pioneer Code Trello" target="_blank" class="icon">
                                <i class="fa fa-trello"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ChadMRamos" title="Chad Ramos Facebook" target="_blank" class="icon">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://pioneercode.com/rss.xml" title="Pioneer Code Rss Feed" target="_blank" class="icon">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
@await Html.PartialAsync("_HomeLatestPosts", Model.LatestPosts)
@await Html.PartialAsync("_HomeGreatestPosts", Model.PopularPosts)
@await Html.PartialAsync("_HomeSignUp", Model)