@{
    Layout = "~/Views/Home/_Template.cshtml";
    ViewBag.Title = "Home";
}
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<div class="hero-gradient hg-large home-hero" data-parallax="scroll" data-image-src="/images/hero-home.jpg">
  <div class="row hero-gradient-content">
    <div class="large-12 column">
      <h1>Pioneer Code</h1>
      <div class="bar"></div>
      <p>How-to's, life hacks and observations for the modern day software developer.</p>
      <a class="button large empty" href="/blog" title="Pioneer Blog">READ THEM ALL</a>
    </div>
  </div>
</div>
@Html.Partial("_HomeLatestPosts")
@Html.Partial("_HomeGreatestPosts")
@Html.Partial("_HomeSignUp")