@{
    Layout = "~/Views/Home/_Template.cshtml";
    ViewBag.Title = "Chad Ramos";
}
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<div class="hero-gradient hg-large home-hero" data-parallax="scroll" data-image-src="/images/hero-home.jpg">
  <div class="row hero-gradient-content">
    <div class="large-12 column">
      <section class="home-hero-content">
        <a href="https://twitter.com/chad_ramos" title="Chad Ramos Twitter" target="_blank" class="me">
          <img src="/images/me300.jpg" alt="Chad Ramos" class="circle"/>
        </a>
        <div class="bio">
          <p>Hi, my name is Chad Ramos. I am a Chicago-based software developer with a strong passion for modern development practices.</p>
          <ul class="menu simple">
            <li>
              <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
                <i class="fa fa-github fa"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="icon">
                <i class="fa fa-twitter fa"></i>
              </a>
            </li>
            <li>
              <a href="https://trello.com/b/EX3uv8CM/blog-post-ideas" title="Pioneer Code Trello" target="_blank" class="icon">
                <i class="fa fa-trello fa"></i>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
@Html.Partial("_HomeLatestPosts", (List<Post>)ViewBag.LatestPosts)
@Html.Partial("_HomeGreatestPosts")
@Html.Partial("_HomeSignUp")