<section class="admin-posts">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="float-left">Posts</h1>
      <button class="button float-right admin-add-button">Add</button>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <ul class="admin-collection-list">
        <li *ngFor="let post of postService.getAll()"
            [class.selected]="post.postId === postService.getCurrent().postId"
            (click)="postService.setCurrent(post.url)">
          <span>{{ post.title | truncate : 20 }}</span>
        </li>
      </ul>
    </div>
    <div class="large-9 columns">
      <label>
        Title
        <input type="text"
               [(ngModel)]="postService.getCurrent().title">
      </label>
      <label>
        Url
        <input type="text"
               [(ngModel)]="postService.getCurrent().url">
      </label>
      <label>
        Description
        <textarea [(ngModel)]="postService.getCurrent().description"
                  class="admin-post-description"></textarea>
      </label>
      <label>
        Large Image
        <input type="text"
               [(ngModel)]="postService.getCurrent().image">
      </label>
      <label>
        Small Image
        <input type="text"
               [(ngModel)]="postService.getCurrent().smallImage">
      </label>
      <label>
        Icon Image
        <input type="text"
               [(ngModel)]="postService.getCurrent().iconImage">
      </label>
      <label>
        Code Link
        <input type="text"
               [(ngModel)]="postService.getCurrent().link">
      </label>
      <div class="row">
        <div class="large-4 columns">
          <label>
            Meta
            <input type="text"
                   [(ngModel)]="postService.getCurrent().meta">
          </label>
        </div>
        <div class="large-4 columns">
          <label>
            Posted On
            <input type="text"
                   [(ngModel)]="postService.getCurrent().postedOn">
          </label>
        </div>
        <div class="large-4 columns">
          <label>
            Modified On
            <input type="text"
                   [(ngModel)]="postService.getCurrent().modifiedOn">
          </label>
        </div>
      </div>
      <label>
        Excerpt
        <textarea [(ngModel)]="postService.getCurrent().excerpt.content"
                  *ngIf="postService.getCurrent().excerpt"></textarea>
      </label>
      <label>
        Article
        <textarea [(ngModel)]="postService.getCurrent().article.content"
                  *ngIf="postService.getCurrent().article"></textarea>
      </label>
      <fieldset class="fieldset">
        <legend>Categories</legend>
        <span *ngFor="let category of categoryService.getAll()" class="admin-post-collection-item">
          <input id=""
                 type="checkbox"
                 [checked]="postService.getCurrent().category.categoryId === category.categoryId"
                 *ngIf="postService.getCurrent().category">
          <label for="">{{ category.name | truncate : 20 }}</label>
        </span>
      </fieldset>
      <fieldset class="fieldset">
        <legend>Tags</legend>
        <span *ngFor="let tag of tagService.getAll()" class="admin-post-collection-item">
          <input id=""
                 type="checkbox"><label for="">{{ tag.name | truncate : 20 }}</label>
        </span>
      </fieldset>
      <button class="button alert float-right"
              (click)="deleteRecord(postService.getCurrent().url)">
        Delete
      </button>
    </div>
  </div>
</section>