<section class="login">
  <div class="row">
    <div class="large-4 large-push-4 columns">
      <div class="pc-card clearfix">
        <header>
          <img src="assets/images/logo-large.png" alt="">
        </header>
        <form #loginFrom="ngForm" (ngSubmit)="onSubmitForm()">
          <div class="form-content">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
          </div>
          <button class="button expanded large" [disabled]="loginFrom.invalid">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
