@{
    Layout = "~/Views/Contact/_Template.cshtml";
    ViewBag.Title = "Contact";
}
@model Pioneer.Blog.Model.Views.ContactViewModel
<input type="hidden" value="d9197f1e-e49b-4d41-9851-440cfa63abb7">
<section class="contact">
  <div class="hero-gradient hg-large" data-parallax="scroll" data-image-src="/images/hero-contact.jpg">
    <div class="row hero-gradient-content">
      <div class="large-12 column">
        <h1>Have A Question?</h1>
        <div class="bar"></div>
        <div class="row">
          <div class="large-6 large-push-3 columns end">
            <p>Send me a message using the form on the right or contact me using an alternative method located on the left. I'll try to get back to you as soon as I can.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="form-container clearfix" data-equalizer>
    <div class="text-content" data-equalizer-watch>
      <h2>
        <span>|</span> Pioneer Code
      </h2>
      <p>Chicago, IL</p>
      <p>
        <a her="mail:hello@pioneercode.com">hello@pioneercode.com</a>
      </p>
      <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
        <i class="fa fa-github fa-2x"></i>
      </a>
      <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="icon">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a href="https://trello.com/b/EX3uv8CM/blog-post-ideas" title="Pioneer Code Trello" target="_blank" class="icon">
        <i class="fa fa-trello fa-2x"></i>
      </a>
    </div>
    <form asp-controller="Contact" asp-action="Send" method="post">
      <div class="form-content" data-equalizer-watch>
        <div class="row">
          <div class="large-12 column">
            <h3>Get In Touch</h3>
            <div class="bar"></div>
          </div>
        </div>
        @if (!ViewBag.IsValid)
        {
          <div class="callout alert">
            <div asp-validation-summary="All"></div>
          </div>
        }
        @if (ViewBag.MessageSent != null && ViewBag.MessageSent)
        {
          <div class="callout success">
            <p>Email Sent! Talk to you soon.</p>
          </div>
        }
        <div class="row">
          <div class="large-12  medium-8 medium-push-2  large-push-0 column">
            <input asp-for="Name" placeholder="Your Name"/>
            <input asp-for="Email" placeholder="your@email.com"/>
            <input asp-for="Subject" placeholder="Subject"/>
            <textarea asp-for="Message" placeholder="Message"></textarea>
            <input type="submit" value="Send" class="float-right">
          </div>
        </div>
      </div>
    </form>
  </section>
  <div class="hello-bar">
    <h4>TALK TO YOU SOON!</h4>
  </div>
</section>