<footer class="main">
  <div class="content">
    <div class="row">
      <div class="large-6 columns">
        <p class="heading">CONTACT US</p>
        <p class="email">
          <a href="mailto:hell@pioneercode.com">Hello@Pioneercode.com</a>
        </p>
        <p class="chad">
          Designed and Developed by <a href="mailto:chad@pioneercode.com" title="Chad Ramos">CHAD RAMOS</a>.
        </p>
        <p class="copy">&copy; Copyright @DateTime.Now.Year - All Rights Reserved </p>
      </div>
      <div class="large-3 columns">
        <p class="heading">FOLLOW ME @@</p>
        <ul class="menu simple">
          <li>
            <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="icon">
              <i class="fa fa-github fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="icon">
              <i class="fa fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://trello.com/b/EX3uv8CM/blog-post-ideas" title="Pioneer Code Trello" target="_blank" class="icon">
              <i class="fa fa-trello fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ChadMRamos" title="Chad Ramos Facebook" target="_blank" class="icon">
              <i class="fa fa-facebook fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="menu vertical">
          <li>
            <a href="/about">
              ABOUT
            </a>
          </li>
          <li>
            <a href="/blog">
              BLOG
            </a>
          </li>
          <li>
            <a href="/contact">
              CONTACT
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>