@inject Microsoft.Extensions.PlatformAbstractions.ApplicationEnvironment Application

<footer class="main pt-5 pb-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p class="text-bold text-medium-gray">CONTACT US</p>
                <a href="mailto:hell@pioneercode.com" class="text-medium-gray">Hello@Pioneercode.com</a>
            </div>
            <div class="col-lg-4">
                <p class="text-bold text-medium-gray">FOLLOW ME @@</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://github.com/PioneerCode" title="Pioneer Code Github" target="_blank" class="text-medium-gray">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.npmjs.com/~chad-ramos" title="Chad Ramos npm" target="_blank" class="text-medium-gray">
                            <i class="fab fa-npm fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/chad_ramos" title="Pioneer Code Twitter" target="_blank" class="text-medium-gray">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://pioneercode.com/rss.xml" title="Pioneer Code Rss Feed" target="_blank" class="text-medium-gray">
                            <i class="fas fa-rss fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-unstyled text-bold">
                    <li class="pb-1">
                        <a href="/about" class="text-medium-gray">
                            ABOUT
                        </a>
                    </li>
                    <li class="pb-1">
                        <a href="/blog" class="text-medium-gray">
                            BLOG
                        </a>
                    </li>
                    <li>
                        <a href="/contact" class="text-medium-gray">
                            CONTACT
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="d-flex sub pt-3">
                    <p>&copy; Copyright @DateTime.Now.Year - Pioneer Code LLC</p>
                    <p class="ml-auto"> Designed and Developed by <a href="mailto:chad@pioneercode.com" title="Chad Ramos" class="text-medium-gray">CHAD RAMOS</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>